body {
    background: #aaaaaa;
}

#content {
    font-size: 15px;
    font-family: Consolas, sans-serif;
    width: 600px;
    margin: auto;
    background: #eaf082;
    border: 1px solid black;
    box-shadow: 0 0 5px black ;
}

a:link, a:active, a:checked, a:visited {
    text-decoration: none;
    color: black;
}