{% extends "admin/base.html" %}


{% block extra_head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

  <style>
  .content_detail {
    margin: 20px;
  }
  .content_detail form {
    padding: 20px;
  }
  </style>
{% endblock %}


{% block model_name_title %}Instance of asdasd{% endblock %}

{% block content %}
 <div class="row content_detail">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">Song name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <select>
            <option value="" disabled selected>Choose your option</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
          <label>Artist of song</label>
        </div>
      </div>

       <div class="row">
        <div class="input-field col s6">
          <textarea id="textarea" class="materialize-textarea"></textarea>
          <label for="textarea">Textarea</label>
        </div>
      </div>

    </form>
  </div>
{% endblock %}